<!DOCTYPE html>
<html lang="zh-CN">

{{> head }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

    {{> left-menu }}
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
        {{>d-breadcrumb }}
      <div class="row">
        <div class="col-lg-12">
                   {{>home-datatable }}
        </div>
      </div>
      <!-- Example DataTables Card-->

    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    {{>sub-footer}}
    <!-- Scroll to Top Button-->
    {{>scroll2top}}

      {{>d-models}}

  </div>

{{> footer }}